<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
	
	<a href="index.html" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Home</a>
	
	<div class="w3-dropdown-hover w3-hide-small">
      <button class="w3-padding-large w3-button" title="More">Tools<i class="fa fa-caret-down"></i></button>     
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="img2cpp.html" class="w3-bar-item w3-button">Img2cpp</a>
		<a href="iframe/iframe_PDFMerge.html" class="w3-bar-item w3-button">PDFMerge</a>
      </div>
    </div>
	
  </div>
</div>